h2 {color: Brown;
font-size: 24pt;}
h4 {color: #f7ae5a;
font-family: "Happy Monkey" sans-serif ;
font-weight: bolder;}
*{background-color: beige;}
img {border-style: dashed;
border-color: Brown;
border-width: medium;
margin-top: = 250px;
margin-bottom:50px }
